In [2]:
import os
import re 
import pandas as pd
import json
import ast
directory = os.fsencode('./test_reports_final')

In [3]:
result_list = []
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".json"): 
        with open(os.path.join(directory, file), "r") as myfile: 
            dictionary = ast.literal_eval(myfile.read())
            f1 = ("{:.2f}".format(dictionary['ts_micro_f1'] * 100))
            
        filename = filename[8:-5]

        regexp_1 = re.compile(r"(.*)_roberta-base-lr-5e-05_bs-32_ml-512_seed-(.*)_ws-(.*)_preprocess-None_aug-None_mp-(.*)")
        re_match = regexp_1.match(filename)
        if (re_match): 
            list_match = list(re_match.groups())
            list_match.append(float(f1))
            result_list.append(list_match)

df = pd.DataFrame(result_list, columns=['serialization', 'seed', 'ws', 'mp', 'f1'])
print(df.value_counts(['serialization', 'ws', 'mp']).reset_index(name='count'))
df = df.sort_values(by=['serialization'])
df = df.groupby(['serialization', 'ws', 'mp'])['f1'].mean().reset_index()
df

# # df.to_csv('results.csv', encoding='utf-8', index=False)

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(df)

      serialization ws   mp  count
0        col_tabert  0  0.2      3
1        col_tabert  0  0.5      3
2        col_tabert  0  0.8      3
3          neighbor  5  0.5      3
4   nomain_neighbor  5  0.2      3
5   nomain_neighbor  5  0.5      3
6   nomain_neighbor  5  0.8      3
7        single_col  0  0.5      3
8      sum_neighbor  5  0.2      3
9      sum_neighbor  5  0.5      3
10     sum_neighbor  5  0.8      3
11           tabert  0  0.5      3

      serialization ws   mp         f1
0        col_tabert  0  0.2  82.790000
1        col_tabert  0  0.5  83.223333
2        col_tabert  0  0.8  82.380000
3          neighbor  5  0.5  85.496667
4   nomain_neighbor  5  0.2  85.883333
5   nomain_neighbor  5  0.5  85.290000
6   nomain_neighbor  5  0.8  84.873333
7        single_col  0  0.5  79.523333
8      sum_neighbor  5  0.2  83.496667
9      sum_neighbor  5  0.5  82.070000
10     sum_neighbor  5  0.8  77.816667
11           tabert  0  0.5  83.676667