In [1]:
import os
import re 
import pandas as pd
import json
import ast
directory = os.fsencode('./test_reports_final')

In [2]:
result_list = []
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith(".json"): 
        with open(os.path.join(directory, file), "r") as myfile: 
            dictionary = ast.literal_eval(myfile.read())
            f1 = ("{:.2f}".format(dictionary['ts_micro_f1'] * 100))
            
        filename = filename[8:-5]

        regexp_1 = re.compile(r"(.*)_roberta-base-lr-5e-05_bs-32_ml-512_seed-(.*)_ws-(.*)_preprocess-(.*)_aug-None_mp-(.*)")
        re_match = regexp_1.match(filename)
        if (re_match): 
            list_match = list(re_match.groups())
            list_match.append(float(f1))
            result_list.append(list_match)

df = pd.DataFrame(result_list, columns=['serialization', 'seed', 'ws', 'preprocess', 'mp', 'f1'])
print(df.value_counts(['serialization', 'ws', 'preprocess', 'mp']).reset_index(name='count'))
df = df.sort_values(by=['serialization'])
df = df.groupby(['serialization', 'ws', 'preprocess', 'mp'])['f1'].mean().reset_index()
df

# # df.to_csv('results.csv', encoding='utf-8', index=False)

# with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
#     print(df)

   serialization ws preprocess   mp  count
0     col_tabert  0       None  0.2      3
1     col_tabert  0       None  0.5      3
2         tabert  0     median  0.5      3
3         tabert  0       mean  0.5      3
4         tabert  0       None  0.8      3
5         tabert  0       None  0.5      3
6         tabert  0       None  0.2      3
7   sum_neighbor  5       None  0.8      3
8   sum_neighbor  5       None  0.5      3
9   sum_neighbor  5       None  0.2      3
10    single_col  0       None  0.5      3
11      neighbor  7       None  0.5      3
12      neighbor  6       None  0.5      3
13      neighbor  5       None  0.5      3
14      neighbor  4       None  0.5      3
15      neighbor  3       None  0.5      3
16      neighbor  2       None  0.5      3
17      neighbor  1       None  0.5      3
18    col_tabert  0       None  0.8      3
19        tabert  0       tuta  0.5      3

   serialization ws preprocess   mp         f1
0     col_tabert  0       None  0.2  87.916667
1     col_tabert  0       None  0.5  88.396667
2     col_tabert  0       None  0.8  88.666667
3       neighbor  1       None  0.5  89.586667
4       neighbor  2       None  0.5  91.203333
5       neighbor  3       None  0.5  92.086667
6       neighbor  4       None  0.5  92.206667
7       neighbor  5       None  0.5  92.140000
8       neighbor  6       None  0.5  91.803333
9       neighbor  7       None  0.5  91.783333
10    single_col  0       None  0.5  82.973333
11  sum_neighbor  5       None  0.2  90.970000
12  sum_neighbor  5       None  0.5  88.626667
13  sum_neighbor  5       None  0.8  85.816667
14        tabert  0       None  0.2  92.143333
15        tabert  0       None  0.5  92.243333
16        tabert  0       None  0.8  91.603333
17        tabert  0       mean  0.5  92.053333
18        tabert  0     median  0.5  92.236667
19        tabert  0       tuta  0.5  92.453333